/* 

  master.css 

  contains css styling for the following dynamic ajax driven pages:
  - questions form
  - signup form
  -

*/









/*questions.css*/

/*ELEMENT STYLING*/
body {
  margin: 1.0em;
  padding: 3%;
  background-color: #f7efef;
}

p {
  font-family: helvetica, arial, tahoma;
}


/*ID STYLING*/
#center-container {
  text-align: center;
  margin: 5% 10% 5% 10%;
}

#arrow {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0px;
  font-size: 3.0em;
  text-align: right;
  color: gray;
  cursor: pointer;
}


#arrow .next{
  font-family: 'bitstream_vera_sans_monoroman', helvetica, arial, tahoma;
  font-size: 0.7em;
  display:inline-block;
  position:relative;
  top: -20px;
}


#arrow .arrow {
  font-family: 'entyporegular', helvetica, arial, tahoma;
  font-size: 3.0em;
  text-align: right;
  text-decoration: none;
}



/*CLASS STYLING*/
.large-plain-text {
  font-family: 'bitstream_vera_sans_monoroman', helvetica, arial, tahoma;
  color: gray;
  font-size: 2.0em;
  padding-top: .0em;
  padding-bottom: 2.0em;
  position: relative;
  text-align: center;
  line-height: 2.0em;
}

.tg  {

  border-collapse:collapse;
  border-spacing:0;
  border:0px;
  text-align: center;
  width:80%; 
  margin:auto;
  background-color: white;

  /*padding: 0px 25px 25px;*/
  background: #fff;
  box-shadow: 0px 0px 0px 5px rgba( 255,255,255,0.4 ), 0px 4px 20px rgba( 0,0,0,0.33 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: table;
  position: static;
}

.tg td{
  font-family: helvetica, arial, tahoma;
  color: #555;
  font-size: 1.0em;
  width:50%;
  height:15em;
  border:0px;
  /*border: 1px solid #333;*/
}

.tg .top-left{
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}

.tg .top-right{
  
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}

.tg .bottom-left{
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}

.tg .bottom-right{
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}















/* signup.css */

.container {

  background-color: #fff;

  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0px;

   box-shadow: 0px 0px 0px 5px rgba( 255,255,255,0.4 ), 0px 4px 20px rgba( 0,0,0,0.33 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: table;
  position: static;

  /*
  width: 406px;
  max-width: 406px;
  margin: 0 auto;
  */
}

.container td{
  margin:0px;
  padding-top:0px;
  padding-left:25px;
  padding-right:25px;
  padding-bottom:25px;

}

.container .left td{
  

  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;

  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;

}

.container .right td{
  

  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;

  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;

}

#signup {    
    min-width:406px;
    width:100%;
    padding-top:0px;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:25px;
    background: #fff;
    display: table;
    position: static;
}

.header,
#signup .header
{
    margin-top: 25px;
}

#signup .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#signup .header p,
.container .header p
{
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#signup .sep, 
.container .sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0 auto;
}

#signup .inputs {
    display: block;
    margin-top: 25px;
}

#signup .checkboxy{
  min-width: 330px;
  width: 330px;
  margin-left:auto;
  margin-right:auto;
}

#signup .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

#signup .inputs input[type=email], input[type=password] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#signup .inputs input[type=email]:focus, input[type=password]:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}

#signup .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#signup .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#signup .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

#signup .inputs #submit {
    width: 330px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    font-family: helvetica, arial, tahoma;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#signup .inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}






/* useful generalist css classes */
.hidden{display:none;}
.center{margin-left:auto;margin-right:auto;}
.text-align-left{text-align: left;}
.text-align-center{text-align: center;}
.text-align-right{text-align: right;}
.width5{width:5%;}
.width10{width:10%;}
.width15{width:15%;}
.width20{width:20%;}
.width25{width:25%;}
.width30{width:30%;}
.width35{width:35%;}
.width40{width:40%;}
.width45{width:45%;}
.width50{width:50%;}
.width55{width:55%;}
.width60{width:60%;}
.width65{width:65%;}
.width70{width:70%;}
.width75{width:75%;}
.width80{width:80%;}
.width85{width:85%;}
.width90{width:90%;}
.width95{width:95%;}
.width100{width:100%;}
.float-left{float:left;}
.float-right{float:right;}
.clear{clear:both;}
