body {
	margin: 1.0em;
	padding: 3%;
	background-color: #f7efef;
}


#left-column {
	width: 12%;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	border-radius: 5px;
	position: absolute;
	height:80%;
	min-width: 20px;
}

#centre-column {
	width:70%;
	position: absolute;
	height:80%;
	min-width: 600px;
	left: 20%;
}

#general-text {
	font-family: 'my_underwoodregular', helvetica, arial, tahoma;
	color: orange;
	font-size: 1.2em;
	line-height: 1.2em;
	margin: 0.6em 0em 0.2em 0.7em;
	
}

/*Slide/Tasks*/

#slide-container {
	height: 70%;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	border-radius: 5px; 	
}

#task-text {
	height: 80%;
	width: 40%;
	font-family: helvetica, arial, tahoma;
	color: gray;
	font-size: 0.8em;
	line-height: 1.6em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	margin-left: 1.0em;
	margin-right: 1.0em;
	padding: 0.5em;
	position: absolute;
}

#task-image {
	position: relative;
	left:45%;
	height: 85%;
	width: 53%;

	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;

}

/*Check Buttons*/

#check-buttons {
	height: 30%;
	border: 2px dotted gray;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	border-radius: 5px;
	margin-top:0.5em;

}

#check-box-text {
	font-family: helvetica, arial, tahoma;
	color: gray;
	font-size: 0.9em;
	line-height: 1.4em;
	padding-right: 0.5em;
	padding: 0.5em;
}


#check-buttons-column1 {
	height: 20%;
	width: 23%;
	position: absolute;
	margin-left:2%;
	margin-right: 2%;
	text-align: center;

}

#check-buttons-column2 {
	height: 20%;
	width: 23%;
	position: absolute;
	left: 33%;
	margin-left:2%;
	margin-right: 2%;
	text-align: center;

}

#check-buttons-column3 {
	height: 20%;
	width: 23%;
	position: absolute;
	left: 65%;
	margin-left:2%;
	margin-right: 2%;
	text-align: center;

}


/*Progress Bar*/

#progress-bar-container {
	height: 10%;
	border: 2px dotted gray;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	border-radius: 5px;
	margin-top: 0.5em;
	margin-bottom: 3.0em;

}


#progress-bar {
  background-color: gray;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progress-bar > div {
   background-color: orange;
   width: 20%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:4.0em;
    height:4.0em;
    background:white;
    border-radius:4px;
    border:2px solid gray;
}
input[type='checkbox']:checked {
    background: orange;
}



/*Landfill Vertical*/
.outer {
    width: 3.5em;
    height: 15.0em;
    border: 2px solid #ccc;
    overflow: hidden;
    
    position: relative;
    
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 1.2em 0.5em 0.5em 0.5em;
}

.inner, .inner div {
    width: 100%;
    overflow: hidden;
    left: -2px;
    position: absolute;
}

.inner {
    border: 2px solid gray;
    border-top-width: 0;
    background-color: #41e02c;
    
    bottom: 0;
    height: 0%;
}

.inner div {
    border: 2px solid orange;
    border-bottom-width: 0;
    background-color: orange;
    top: 0;
    width: 100%;
    height: 25px;
}

button {
	position: center;
	margin-left: 1.0em;

}

/* Dashboard */

#dashboard-nav a {
	width: 100%;
	position: absolute;
	height:10%;
	min-width: 40px;
	font-family: helvetica, arial, tahoma;
	color: gray;
	font-size: 1.0em;
	line-height: 1.6em;
	padding: 0.5em;
	position: relative;
	text-decoration: none;
}


#dashboard-nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
	margin-bottom: 2em;
	line-height: 2em;
}

#dashboard-nav li {
	display:inline;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

#dashboard-nav li :hover {
	background-color: #4ad140;
	color:#e0e0e0;
}

#dashboard-cube-1 {
	width: 28%;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	position:absolute;
	min-width: 40px;
	max-width: 300px;
	margin-bottom: 5em;

}

#dashboard-cube-1 :hover {
	background-color:#e84e4e;
	color:#e0e0e0;
}

#dashboard-cube-2 {
	left: 35%;
	width: 28%;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	position:absolute;
	min-width: 40px;
	max-width: 300px;

}

#dashboard-cube-2 :hover {
	background: #e84e4e;
	color:#e0e0e0;
}

#dashboard-cube-3 {
	left: 65%;
	width: 28%;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	position:absolute;
	min-width: 40px;
	max-width: 300px;
}

#dashboard-cube-3  :hover {
	background:#f75151;
	color:#e0e0e0;
}

#dashboard-cube-4 {
	top: 60%;
	width: 28%;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	min-width: 40px;
	max-width: 300px;
	position: absolute;
	margin-bottom: 5em;
	
}

#dashboard-cube-4 :hover {
	background-color:#f75151;
	color:#e0e0e0;
}

#dashboard-cube-5 {
	top: 60%;
	left: 35%;
	width: 28%;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	position:absolute;
	min-width: 40px;
	max-width: 300px;
	margin-bottom: 5em;
}

#dashboard-cube-5 :hover {
	background-color:#f75151;
	color:#e0e0e0;
}

#dashboard-cube-6 {
	top: 60%;
	left: 65%;
	width: 28%;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	position:absolute;
	min-width: 40px;
	max-width: 300px;
	display:inline-block;
	margin-bottom: 5em;
}

#dashboard-cube-6 :hover { 
	background-color:#f94343;
	color:#e0e0e0;
}


#dashboard-cube-text {
	font-family: helvetica, arial, tahoma;
	color: gray;
	font-size: 1.0em;
	line-height: 1.6em;
	padding-top: 3.0em;
	padding-bottom: 0.5em;
	position: relative;
	text-align: center;
}


#dashboard-cube-text a {
	font-family: helvetica, arial, tahoma;
	color: gray;
	font-size: 1.0em;
	line-height: 1.6em;
	padding: 2.5em;
	position: relative;
	text-align: center;
	text-decoration: none;
}

#dashboard-cube-text :hover {
	color:#e0e0e0;
}

#dashboard-icons {
	font-family: 'entyporegular', helvetica, arial, tahoma;
	color: gray;
	font-size: 8.0em;
	text-align: center;
	line-height: 1.0em;
}

#dashboard-icons :hover {
	color:#e0e0e0;
}

/* Footer */

#footer a {
	width: 100%;
	height:10%;
	min-width: 40px;
	font-family: helvetica, arial, tahoma;
	color: gray;
	font-size: 0.3em;
	line-height: 1.0em;
	padding: 0.5em;
	text-decoration: none;
}

#footer ul {
	list-style-type:none;
	margin:0;
	padding:0;
	margin-bottom: 2em;
	line-height: 2em;
}

#footer li {
	display:inline;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

/* Main Dash Icon */

#main-icon {
	font-family: 'entyporegular', helvetica, arial, tahoma;
	color:#e0e0e0;
	font-size: 6.0em;
	text-align: center;
	line-height: 1.0em;
	position: absolute;
	top:90%;

}


/* Questions */

#questions-cube-1 {
	left: 15%;
	width: 35%;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	position:absolute;
	min-width: 40px;
	max-width: 300px;
	margin-bottom: 5em;
	background-color: white;

}

#questions-cube-1 :hover {
	background-color:#f94343;
	color:#e5e5e5;
}

#questions-cube-2 {
	left: 45%;
	width: 35%;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	position:absolute;
	min-width: 40px;
	max-width: 300px;
	background-color: white;

}

#questions-cube-2 :hover {
	background: #f94343;
	color:#e5e5e5;
}



#questions-cube-4 {
	top: 60%;
	left: 15%;
	width: 35%;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	min-width: 40px;
	max-width: 300px;
	position: absolute;
	margin-bottom: 5em;
	background-color: white;
	
}

#questions-cube-4 :hover {
	background-color:#f94343;
	color:#e5e5e5;
}

#questions-cube-5 {
	top: 60%;
	left: 45%;
	width: 35%;
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
	position:absolute;
	min-width: 40px;
	max-width: 300px;
	margin-bottom: 5em;
	background-color: white;
}

#questions-cube-5 :hover {
	background-color:#f94343;
	color:#e5e5e5;
}

#radio-buttons {
	margin-bottom: 3em;
	padding: 0.5em;
}

table, th, td {
	border-width: 1px;
	border-color: #cecccc;
	border-style: solid;
}

#large-plain-text {
	font-family: 'bitstream_vera_sans_monoroman', helvetica, arial, tahoma;
	color: gray;
	font-size: 2.0em;
	padding-top: .0em;
	padding-bottom: 0.5em;
	position: relative;
	text-align: center;

}



